/* 字体图标 */
@font-face {
  font-family: 'myfont';
  src: url('../fonts/iconfont.eot') format('embedded-opentype'),
    url('../fonts/iconfont.svg') format('svg'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.woff') format('woff');
}

[class^='iconfont'],[class*=' iconfont']{
    font-family: 'myfont'
}

.icon_search::before{
    content: '\e6c6';
}

.icon_arrow_left::before{
    content: '\e610';
}

.icon_lock::before{
    content: '\e699';
}

.icon_phone::before{
    content: '\e606';
}

.icon_key::before{
    content: '\e611';
}

.icon_more::before{
    content: '\e634';
}

.icon_arrow_top::before{
    content: '\e623';
}

.icon_star::before{
    content: '\e600';
}

.icon_share::before{
    content: '\e62b';
}

.icon_arrow_right::before{
    content: '\e618';
}

.icon_addr::before{
    content: '\e61a';
}


.icon_reserve::before{
    content: '\e688';
}


.icon_change_new::before{
    content: '\e601';
}

.icon_add_heart::before{
    content: '\e619';
}